@import "_var";
body{
    >.alert {
        display: none;
        position: fixed;
        top: 30px;
        left: 50%;
        z-index: 100000000;
        width: 500px;
        margin-left: -250px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        @include box-shadow();
    }
    .mgl-20{
        margin-left:20px;
    }
}
.bg-999{
    background-color:#999!important;
}
.bg-efefef{
    background-color:#efefef!important;
}


.cp-toolbar{
    padding:0 20px;
}
.cp-form{
    margin:0 auto ;
    width:90%;
}