//公用
@import "_common";


.custom-nav{
	>li.menu-list{
		>a{
			background: transparent url(../images/muban/plus-white.png) no-repeat 93% center;
			&:hover{
				background-image: url(../images/muban/plus.png);
				background-repeat: no-repeat;
				
			}
		}

	}
	>li.nav-active{
		>a{
			background-image: url(../images/muban/minus.png);
			&:hover{
				background-image: url(../images/muban/minus.png);
				background-repeat: no-repeat;
			}
		}
	}
}

.blog-content{
	padding:20px 0;
}