/*后台模板*/
/*@import "minimal.css";
@import "square.css";
@import "red.css";
@import "blue.css";

@import "clndr.css";
*/
@import "./muban/style.css";
/*后台模板 end*/


.custom-nav > li.menu-list > a {
    background: transparent url(/images/muban/plus-white.png) no-repeat 93% center;
}
.custom-nav > li.menu-list > a:hover {
    background-image: url(/images/muban/plus.png);
}
.custom-nav > li.nav-active > a{
	background-image: url(/images/muban/minus.png);
}
.custom-nav > li.nav-active > a:hover {
    background-image: url(/images/muban/minus.png);
}