{{#cp-toolbar}}

{{/cp-toolbar}}
<div class="panel">
	<div class="panel-heading">
		栏目列表
	</div>
	<div class="panel-body">
		{{#cp-table needCheckbox=true}}
			<table>
				<thead>
					<tr>
						<th>名称</th>
						<th>创建时间</th>
						<th>修改时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{{#each columns as |column|}}
					<tr>
						<td>{{column.name}}</td>
						<td>{{format-datetime column.created_at}}</td>
						<td>{{column.updated_at}}</td>
						<td>
							{{#link-to "core.column.edit" column.id class="btn"}}
								编辑
							{{/link-to}}
							<a href="" {{action "del" column}} class="btn">删除</a>
						</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		{{/cp-table}}
	</div>
</div>

