{{#cp-toolbar}}

{{/cp-toolbar}}
<div class="panel">
	<div class="panel-heading">
		栏目列表
	</div>
	<div class="panel-body">
		{{#cp-table needCheckbox=true}}
			<table>
				<thead>
					<tr>
						<th>标题</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		{{/cp-table}}
	</div>
</div>

