<section>
    <!-- left side start-->
    {{cp-left}}
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content" >
    	<div class="blog-content">
    		{{cp-top}}
			{{outlet}}
    	</div>
    </div>
    <!-- main content end-->
</section>
